.DS_Store
/capgemini/lista_de_exercicios/exercicio1/target/
/capgemini/exercicio2/target/
/capgemini/exercicio3/target/
/capgemini/calculoSalario/target/
/capgemini/mediaAritmetica/target/
/capgemini/trocaDeValores/target/
/capgemini/exercicio7/target/
/capgemini/exercicio8/target/
/capgemini/exercicio9/target/
/capgemini/exercicio10/target/
/capgemini/exercicio11/target/
/capgemini/exercicio12/target/
/capgemini/exercicio13/target/
/capgemini/exercicio14/target/
/capgemini/exercicio15/target/
/capgemini/exercicio16/target/
/capgemini/exercicio17/target/
/capgemini/exercicio18/target/
/capgemini/exercicio19/target/
